#primary{
    padding-block: 1.25rem;

    div {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
    /* nexting css */
    div:nth-child(2) {
        margin-inline: auto;
    }
    div:nth-child(3){
        justify-self: end;
    }
}

#secondary {
    padding-block: 0.875rem;
    border: solid 0.0625rem var(--stroke-color);
    border-inline: none;
}

#primary strong {
    display: none;
}

#secondary {
    display: flex;
    gap: 0.75rem;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#secondary::-webkit-scrollbar { display: none; }
#secondary a { flex: 0 0 auto; }

@media (width >= 80em) {
    #primary strong {
        display: inline;
    }

    #secondary {
        display: grid;
        overflow: visible;
        white-space: normal;
    }
}