section header {
    border-top: 0.0625rem solid var(--stroke-color);
    padding-block: 0.75rem 1.5rem;
    font: var(--text-span);


    a {
        justify-self: end;
        align-items: center;
        gap: 0.5rem;

        span {
            background-image: url(../assets/icons/ArrowRight.svg);
            width: 1rem;
            height: 1rem;
        }

        &:hover span {
            background-image: url(../assets/icons/ArrowRight.svg);
        }
    }
}



#featured {
    grid-area: featured;
    grid-auto-flow: row;
    img {
        height: auto;
        object-fit: cover;
        border-radius: 0.25rem;
    }

    .card {
        border-radius: 0.25rem;
        overflow: hidden;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            top: 50%;
            background: linear-gradient(180deg,
                    transparent 0%,
                    #020617 100%);
        }

            figcaption {
            position: absolute;
            bottom: 0;
            padding: 1.5rem;

            &:has(.text-lg) {
                padding: 0.75rem;
            }

            h2 {
                margin-top: 0.5rem;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
        }
    }
}

#weekly {
    grid-area: weekly;
    &>div {
        grid-template-columns: 1fr;
    }

    img {
        height: 10rem;
    }

    figure {
        position: relative;

        .content-tag {
            position: absolute;
            top: 0.5rem;
            left: 0.5rem;
        }

        p {
            margin-top: 0.5rem;
            font-weight: 800;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }
}

#ai {
    grid-area: ai;
    img {
        width: 100%;
        height: auto;
    }
    h3 {
        margin-block: 0.5rem 0.25rem;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}
 
aside {
    grid-area: aside;
}

#more {
    margin-top: 2rem;
    img {
        width: 4.5rem;
        aspect-ratio: 1/1;
    }
    h3{
        margin-top: 0.5rem;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}

#ai .grid {
    grid-auto-flow: row;
}

#weekly img {
    height: auto;
}

@media (width >= 80em) {
    #featured {
        grid-auto-flow: column;
        grid-template-columns: 2fr 1.3fr;
        gap: 2rem;
        img {
            height: 100%;
        }
    }

    #weekly {
        &>div {
            grid-template-columns: repeat(4, minmax(12rem, 1fr));
        }
        img {
            height: 10rem;
        }
    }

    #ai {
        img {
            width: 11rem;
            aspect-ratio: 1/1;
            object-fit: cover;
        }
    }

    #ai .grid {
        grid-auto-flow: row;
    }
}

#featured > div {
    grid-template-columns: 1fr;
}

#ai article {
    grid-template-columns: 1fr;
}

@media (width >= 80em) {
    #featured > div {
        grid-template-columns: 1fr 1fr;
    }

    #ai article {
        grid-template-columns: 1fr 11rem;
    }
}