footer {
  display: flex;
  gap: 1.5rem;
  padding-block: 1.5rem;
  padding-inline: 1rem;
  font: 0.875rem/1.5 var(--font-family);
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

footer span {
  white-space: nowrap;
}

footer span:nth-child(1) {
  flex: 1;
}

@media (width <= 1024px) {
  footer {
    justify-content: center;
    text-align: center;
  }

  footer span:nth-child(1) {
    flex: 100%;
    margin-bottom: 0.5rem;
  }
}

@media (width <= 768px) {
  footer {
    flex-direction: column;
    gap: 1rem;
    padding-block: 1rem;
  }

  footer span:nth-child(1) {
    flex: auto;
  }
}

@media (width <= 480px) {
  footer {
    gap: 0.75rem;
    padding-block: 0.75rem;
    font-size: 0.75rem;
  }

  footer span {
    word-break: break-word;
  }
}
