@media (width < 360px) {
    :root {
        --text-lg: bold 1.25rem/1.2 var(--font-family);
        --text: 0.8rem/1.5 var(--font-family);
    }
    
    .container {
        padding-inline: 0.5rem;
    }
    
    main {
        grid-template-columns: 1fr;
    }
}

@media (360px <= width <= 480px) {
    body {
        font-size: 0.875rem;
    }
}

@media (481px <= width <= 768px) {
    main {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (769px <= width <= 1024px) {
    main {
        grid-template-columns: repeat(3, 1fr);
    }
    
    header .container {
        flex-direction: column;
    }
}

@media (width >= 1025px) {
    main {
        grid-template-columns: repeat(auto-fit, minmax(17.875rem, 1fr));
    }
}

@media (width <= 768px) and (orientation: landscape) {
    header {
        padding-block: 1rem;
    }
    
    main {
        gap: 0.75rem;
        padding-block: 0.75rem;
    }
}

@media (hover: none) and (pointer: coarse) {
    main img {
        border: 2px solid transparent;
    }
    
    main img:active {
        border-color: var(--brand-color);
    }
    
    button, a, nav li {
        padding: 0.5rem;
        border-radius: 0.25rem;
    }
}
