.dropzone {
  border: 1px dashed var(--stroke-default);
  border-radius: 0.25rem;
  
  display: grid;
  justify-items: center;
  gap: 0.5rem;
  
  text-align: center;
  padding: 1.75rem 1rem;

  /* como fazer desaparecer o chose file pre definido no input file */
  position: relative;

  & input {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0; /* alinhar no topo e no canto  */
    opacity: 0;
  }

  & p {
    color: #A8A29E;
  }

  &:hover, &:has(input:focus) {
    border-width: 2px;
    border-color: var(--stroke-highlight);
    background-color: var(--surface-secondary);
    
    & p {
      color: var(--text-tertiary);
    }
    /* melhor maneira de colocar troca de cor em uma imagem 
    baixar direto o codigo svg da imagem e colocar no lugar da imagem 
    depois escolher opção svg -> path e colocar a opção de stroke que seria as linhas 
    que compem a imagem svg  */
    & svg path {
      stroke: var(--stroke-highlight);
    }
  }
}