label .radio-wrapper {
    margin-top: 1rem;
}


.radio-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(7.5rem, 1fr));
    /* comando auto-fit para calculo automatico do tamanho da grid e o segundo comando sempre colocar a largura minima da imagem que ira comportar e a largura maxima deixar que o sistema calcula sozinho */
    gap: 1rem;
}


.radio-inner {
    border: 1px solid var(--stroke-default);
    border-radius: 0.5rem;

    display: grid;
    justify-items: center;
    gap: 0.5rem;

    padding: 2rem 0.5rem 0.5rem;

    position: relative;

    & input,
    & input:hover,
    & input:focus {
        all: unset;
        position: absolute;
        inset: 0;
    }

    .radio-image {
        background-image: url(../../assets/icons/radio-default.svg);
        width: 1.5rem;
        height: 1.5rem;

        position: absolute;
        top: 0.5rem;
        left: 0.5rem;
    }

    &:hover,
    &:focus-within {
        border: 1px solid var(--stroke-highlight);

        & .radio-image {
            background-image: url(../../assets/icons/radio-houver.svg);
        }
    }

    &:has(:checked) {

        border: 2px solid var(--stroke-highlight);

        & .radio-image {
            background-image: url(../../assets/icons/radio-checked.svg);
        }
    }

}