#app {
    display: grid;
    grid-template-columns: 51.25% 48.75%;

    height: 100vh;
    overflow: hidden;
}

main {
    overflow: auto;
    padding: 4rem;

    & .main-container {
        max-width: 33rem;
        margin-left: auto;
    }

    & .back {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-bottom: 1.5rem;
    }

    & h1 {
        font: 600 1.5rem/1.25 var(--font-family);
        margin-bottom: 0.5rem;
    }

}

aside {
    background-color: var(--surface-secondary);
    padding: 4rem;

    & .aside-container {
        max-width: 31rem;

        &>img {
            margin-top: 2rem;
        }
    }

    & h2 {
        font: 600 2.5rem/1.25 var(--font-family);
        margin-bottom: 0.5rem;

        & span {
            color: var(--text-highlight);
        }
    }
}

@media (width <=31.25em) {
    #app {
        display: flex;
        flex-direction: column-reverse;
        overflow: auto;

        & main {
            overflow: initial;
            max-width: 22.5rem;
            margin-inline: auto;
            padding: 1.5rem;
        }

        & aside {
            display: block;
            width: 100%;
            background-color: var(--surface-secondary);
            padding: 1.5rem;

            & header img {
                margin-left: 15%;
            }
        }

        & .child-info {
            margin-top: 3rem;
            margin-bottom: 3rem;
            gap: 1.25rem;
        }

        & .address {
            margin-bottom: 3rem;
            gap: 1.25rem;

            & .mobile-grid {
                display: grid;
                grid-template-rows: 1fr;
            }
        }

        & .gardian {
            margin-bottom: 3rem;
            gap: 1.25rem;
        }

        & .enroll-options {
            margin-bottom: 3rem;
            gap: 1.25rem;
        }

        & .actions-wrapper {
            display: flex;
            flex-direction: column;

            padding-top: 3rem;
            gap: 1rem;
            margin-bottom: 1.5rem;

            & button {
                width: 100%;
                margin-inline: auto;
                text-align: center;
                box-sizing: border-box;

                margin: auto;

            }
        }
    }

}